<h1>Bienvenido, <%= user.user%></h1>

<p>Genero: <%= user.gender%></p>
<p>Salario Mensual:<%= user.monthly_salary%></p>
<p>Salario Semanal:<%= user.weekly_salary%></p>
<p>Salario por Hora:<%= user.hourly_salary%></p>


